<div class="add-form">
  <ng-container *ngIf="pedido$ | async as pedido">

      <mat-form-field class="form-input" appearance="fill">
        <mat-label>Name</mat-label>
        <input #name type="text" value="{{ pedido.name }}" matInput placeholder="John">
      </mat-form-field>
      <br>
      <mat-form-field class="form-input" appearance="fill">
        <mat-label>Quantidade</mat-label>
        <input #quantidade type="number" value="{{ pedido.quantidade }}"  matInput>
      </mat-form-field>
      <br>
      <!-- <mat-form-field class="form-input" appearance="fill">
          <mat-label>Id do usuario</mat-label>
          <input #usuarioid type="number" value="{{ pedido.usuarioid }}"  matInput>
      </mat-form-field> -->
      <br>


      <button class="btn-submit" (click)="edit_pedido(name.value, quantidade.valueAsNumber, pedido.usuarioid)" mat-flat-button color="accent">Editar Usuario</button>
  </ng-container>
</div>
