<div class="add-form">

    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Username</mat-label>
      <input #username type="text" matInput placeholder="John">
    </mat-form-field>
    <br>
    <mat-form-field class="form-input" appearance="fill">
      <mat-label>Senha</mat-label>
      <input #password type="password" matInput>
    </mat-form-field>

    <button class="btn-submit" (click)="add_user(username.value, password.value)" mat-flat-button color="accent">Adicionar Usuario</button>
</div>
