
<ng-container *ngIf="usuarios$ | async as usuarios" >
  <button class="add_btn" (click)="create()" mat-flat-button color="primary">Adicionar Usuario</button>
  <h1>Usuarios:</h1>
  <mat-list>
    <ng-container *ngFor="let usuario of usuarios" >
        <mat-list-item>
          <div class="user_name">
            <p>{{ usuario.name }}</p>
          </div>
          <div class="user_actions">

            <button (click)="edit(usuario.id)" mat-flat-button color="basic">Editar</button>
            <button (click)="remove(usuario.id)" mat-flat-button color="warn">Remover</button>
          </div>
        </mat-list-item>
    </ng-container>
  </mat-list>

</ng-container>
