.lista {
    background-color: aliceblue;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.user_name {
    width: 200px;
    font-size: large;
    font-weight: bolder;
}

.add_btn {
    margin-bottom: 20px;
}